body {
  width: 100vw;
  height:100vh;
  background-image: url("./assets/totoro-wallpaper.png");
  background-position: -290px -290px;
}

h1 {
  color: black;
  padding: 10px;
}

#random {
  color: rgb(20, 20, 20);
  margin-top: 80px;
}

.button {
    margin-top: 70px;
    margin-left: 190px;
  }

  .generate {
   background-color: white;
   border: none;
    border-radius: 8px; 
  }

  .generate:hover {
    opacity: .5;
    cursor: auto;
  }
  
  



  @font-face {
      font-family: 'chub_gothicregular';
      src: url('chubgothic_1-webfont.woff2') format('woff2'),
           url('chubgothic_1-webfont.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      
      
  
  }
 

 