body {
  background-image: url("./assets/totoro-wallpaper.png");
  background-position: -290px -290px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: black;
  padding: 10px;
}

#random {
  color: rgb(20, 20, 20);
  margin-top: 80px;
}

.button {
    margin-top: 70px;
    margin-left: 190px;
  }

  .generate {
   background-color: white;
   border: none;
    border-radius: 8px; 
  }

  .generate:hover {
    opacity: .5;
    cursor: auto;
  }
  

  /* .img {
    background-image: url("../API-Project/assets/ghibli.webp");
    background-color: transparent;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 10em;
    left: 25em;
  } */

 

 